<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Search Events</h1>

  <ion-list radio-group [(ngModel)]="searchType">
    <ion-item>
      <ion-label>By date</ion-label>
      <ion-radio value="By date" checked (ionSelect)="onChecked('Date')"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>By type</ion-label>
      <ion-radio value="By type" (ionSelect)="onChecked('Type')"></ion-radio>
    </ion-item>
  </ion-list>


  <div *ngIf="checkedType == 'Type' ">
    <h3> Search by Type </h3>
    <p padding-left padding-right>Select the type of events that you want to display </p>
    <ion-searchbar placeholder="Search" showCancelButton color="danger" (ionInput)="filterTypes($event)" #typeInput></ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let type of event_types" (click)="onClickOrSearchTypes(item)">
         {{ type }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="checkedType == 'Date' ">

    <h3> Search by Date </h3>

    <p padding-left padding-right>Select the date of events that you want to display </p>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="selectedDate" displayFormat="DD/MM/YYYY" (ionChange)="onSelectedDate()" #dateInput></ion-datetime>
      <p> {{eventDate}} </p>
    </ion-item>

  </div>

  <div>
    <button class="searchButton" ion-button round (click)="submitSearch()"> Search </button>
  </div>

</ion-content>

<ion-footer>

</ion-footer>
