<ion-header>
  <ion-navbar>
    <ion-title>{{ event.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="primary">Type</ion-label>
          <ion-select [(ngModel)]="event.type" name="type">
              <ion-option *ngFor="let eventType of eventsTypes" [value]="eventType">{{ eventType }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary">Description</ion-label>
          <ion-input [(ngModel)]="event.description"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="event.fileURL != ''">
      <ion-col>
        <img [src]="event.fileURL" style="max-width: 100%">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item *ngIf="event.address != ''">
        <agm-map [latitude]="event.latitude" [longitude]="event.longitude">
          <agm-marker [latitude]="event.latitude" [longitude]="event.longitude"></agm-marker>
        </agm-map>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full color="secondary" (click)="onUpdateEvent()">
          Modify
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button full color="danger" (click)="onRemoveEvent()">
          Remove
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
